body {
  background-color: black !important;
  color: white;
  margin: 0;
}
/* estilos para remarcar mis logros */
.remarcar {
  background-color: yellow;
  color: black;
}
.skills {
  color: green;
}
#unico {
  background-color: blue;
  border-style: solid;
  border-radius: 30px;
  padding: 40px;
}
.border-box {
  border: solid 1px white;
  padding: 20px;
  margin: 50px;
}

.section-one {
  background-color: green;
}
.section-two {
  background-color: blueviolet;
}
.section-three {
  background-color: brown;
}

div {
  padding: 15px;
  text-align: justify;
  padding-left: 150px;
}
div *{
  margin: 0;
}